@import "tailwindcss";

::selection {
  background: #E4B04E;
  color: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #0F121C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F121C;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code), monospace;
}

html {
  scroll-behavior: smooth;
}

